{% extends "www/base_template.html" %}

{% block activePayment %}active{% endblock activePayment %}

{% block title %}Payments{% endblock title %}

{% block user %}{{username}}{% endblock user %}

{% block content %}

<div class="dashboard-wrapper">
    <div class="dashboard-influence">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-block">
                        <h3 class="section-title">Payments</h3>
                    </div>
                    <div class="card">
                        <div class="campaign-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="border-0">
                                        <th class="border-0">Payment ID</th>
                                        <th class="border-0">Customer</th>
                                        <th class="border-0">Payment Type</th>
                                        <th class="border-0">Mode of Payment</th>
                                        <th class="border-0">Invoice Amount</th>
                                        <th class="border-0">Payment Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pay in payment %}
                                        {% if pay.payment_type=="Receive" %}
                                            {% if pay.party==username %}
                                                <tr>
                                                    <td>{{pay.name}}</td>
                                                    <td>{{pay.party}}</td>
                                                    <td>{{pay.payment_type}}</td>
                                                    <td>{{pay.mode_of_payment}}</td>
                                                    <td>{{pay.paid_amount}}</td>
                                                    <td>{{pay.posting_date.strftime("%d-%m-%Y")}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
									{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



{% endblock %}