{% extends "www/base_template.html" %}

{% block activePlanMaster %}active{% endblock activePlanMaster %}

{% block title %}Policy Master{% endblock title %}

{% block user %}{{username}}{% endblock user %}

{% block content %}

<div class="dashboard-wrapper">
    <div class="dashboard-influence">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-block">
                        <h3 class="section-title">Plan Master</h3>
                    </div>
                    <div class="card">
                        <div class="campaign-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="border-0">
                                        <th class="border-0">Master Policy</th>
                                        <th class="border-0">Scope of Policy</th>
                                        <th class="border-0">Type of Policy</th>
                                        <th class="border-0">End Date</th>
                                        <th class="border-0">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for policy in policy_master %}
                                        <tr>
                                            <td>{{policy.policy_name}}</td>
                                            <td>{{policy.scope_of_policy}}</td>
                                            <td>{{policy.type_of_policy}}</td>
                                            <td>{{policy.policy_end_date.strftime('%d-%m-%Y')}}</td>
                                            <td>{{policy.status}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



{% endblock %}