{% extends "www/base_template.html" %}

{% block activeTicketMaster %}active{% endblock activeTicketMaster %}

{% block title %}Ticket Master{% endblock title %}

{% block user %}{{username}}{% endblock user %}

{% block content %}

<div class="dashboard-wrapper">
    <div class="dashboard-influence">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-block">
                        <h3 class="section-title">Ticket Master</h3>
                    </div>
                    <div class="card">
                        <div class="campaign-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="border-0">
                                        <th class="border-0">Ticket Name</th>
                                        <th class="border-0">Package Type</th>
                                        <th class="border-0">Package Category</th>
                                        <th class="border-0">Net Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        {% if product.operator==username %}
                                            <tr>
                                                <td>{{product.name}}</td>
                                                <td>{{product.package_type}}</td>
                                                <td>{{product.package_category}}</td>
                                                <td>{{product.net_total}}</td>
                                            </tr>
                                        {% endif %}
									{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}